
body {
	background-color: #9A8F97;
	font-size: 100%;
	padding:0;
	margin: auto;

	
}

#header {
	font-family: 'Special Elite', cursive;
	font-size: 2em;
	color: white;
	padding: .1em;
	margin-left: .1em;
	padding-bottom: 8em;
	background-image: url(This.jpg);
	height:80px;
	background-position: center;
	
}

#header1 {
	font-family: 'Special Elite', cursive;
	font-size: 2em;
	color: white;
	padding: .1em;
	margin-left: .1em;
	padding-bottom: 8em;
	background-image: url(This.jpg);
	height:80px;
	background-position: center;
}
	




	
	

#mainColumn {
	color: #E0E0E2;
	margin: 0 auto;
	width: 90%;
}

#TabContainer {
	
	font-family: 'Special Elite' , cursive;
	width: 10%;
	float: left;

	
}

#TabContainer a {
	display:block;
	width:100%;
	color: black;
	background-color: #E0E0E2;
	text-decoration: none;
	border-top-left-radius: 5em 5em;
	border-top-right-radius: 5em 5em;
	border-bottom-right-radius: 5em 5em;
	border-bottom-left-radius: 5em 5em;
	padding-top: .5em;
	margin-top: .5em;
	margin-right: 10em;
	text-align: middle;
	border-radius:10%;
	

}


#TabContainer a:hover {
background-color:black;
}
	

#MainContent {
	font-family: 'Special Elite', cursive;
	margin-left: 3em;
	width: 40%;
	background-color: #E0E0E2;;
	border-top-left-radius: 5em 5em;
	border-top-right-radius: 5em 5em;
	border-bottom-right-radius: 5em 5em;
	border-bottom-left-radius: 5em 5em;
	padding-top: .5em;
	text-align: middle;
	border-radius:3%;
	float: left;
	margin-top: .5em;
	
}


#nav h2{
	font-size:1em;
}
#content {
	float: left;
	width: 75%;
	background-color:#543843;
	color:#F3E9C5;
	padding: 1em;
	font-family: 'Slabo 13px' , serif;
}
#illustration {
	text-align: center;
	float: left;
}


#Circle {
	border-top-left-radius: 5em 5em;
	border-top-right-radius: 5em 5em;
	border-bottom-right-radius: 5em 5em;
	border-bottom-left-radius: 5em 5em;
	padding-top: .5em;
	margin-top: .5em;
	
}


		
	
